h1 {
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
}

.header {
  /* position: fixed; */
  background-color: rgb(152, 220, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header h1 {
  font-family: "Lobster", cursive;
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
}

.header-shit {
  position: absolute;
  top: 8px;
  right: 16px;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-box {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

.warning {
  font-size: 0.5 em;
  color: red;
  font-style: italic;
  font-size: smaller;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-box {
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 300px;
  height: 570px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

.input {
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #a4a7b5;
  border-radius: 5px;
  transition: all 0.1s linear;
  transition: padding 0ms;
  display: inline-block;
  padding: 0 2rem 0 1rem;
  width: 100%;
  line-height: 2.5rem;
  height: 2.5rem;
  color: #061c3f;
  font-size: 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 400;
}

.matches-container {
  display: flex;
}

.user-profile-big {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 400px;
  padding: 30px;
  margin-left: 70px;
}

.user-profile-big img {
  width: 400px;
}

.user-profile-small {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

.user-profile-small img {
  width: 100px;
}

.search-and-results {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  padding: 30px;
  margin-left: 75px;
  margin-top: 25px;
}

.search-input {
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #a4a7b5;
  border-radius: 5px;
  transition: all 0.1s linear;
  transition: padding 0ms;
  display: inline-block;
  padding: 0 2rem 0 1rem;
  width: 100%;
  line-height: 2.5rem;
  height: 2.5rem;
  color: #061c3f;
  font-size: 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 400;
}

.messages-container {
  display: flex;
}

.message-list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  padding: 30px;
  margin-left: 60px;
  margin-top: 25px;
}

.message-sent {
  background-color: #e4e5ec;
  text-align: left;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}
.message-received {
  text-align: left;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

.message-sent img {
  width: 20px;
}

.message-received img {
  width: 20px;
}
.message-profile {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  margin-left: 60px;
}
