h1 {
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.login:hover {
  background-color: aqua;
}

.signup:hover {
  background-color: aqua;
}

.header {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-box {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 200px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-box {
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 300px;
  height: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}
